.choices {
  display: flex;
  align-items: center;
  height: 20px;
  background-color: transparent;
  font-family: var(--swiper-studio--font-family-mono);
  font-size: 0.875rem;

  &:focus {
    box-shadow: none !important;
  }

  &:after {
    content: none !important;
  }

  &__inner {
    min-height: auto;
    padding: 0 !important;
    border: none;
    background-color: unset;
    background-image: url(../images/icons/arrow-select.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 16px 16px;
  }

  &__list {
    &--single {
      padding: 0 1.1rem 0 0;
      color: var(--swiper-studio--color-white);
    }

    &--dropdown,
    &[aria-expanded] {
      z-index: 10;
      right: -0.65rem;
      width: 280px;
      padding: 0.5rem 0;
      border: 1px solid var(--swiper-studio--color-white-a05) !important;
      border-radius: 0.5rem;
      background-color: rgba(40, 40, 40, 1);
    }

    .choices__list {
      max-height: fit-content !important;
    }
  }

  &__item {
    &--choice {
      padding: 0.25rem 2rem !important;
      color: var(--swiper-studio--color-white);
      font-weight: 500;
      line-height: 1.25rem;
    }

    &.is-selected {
      color: var(--swiper-studio--color-primary);
    }

    &.is-highlighted {
      color: var(--swiper-studio--color-white);
      background-color: var(--swiper-studio--color-primary) !important;
    }
  }
}

.form-item--slides-content-position {
  .choices {
    &__list {
      &--dropdown,
      &[aria-expanded] {
        padding: 0;
      }

      &[role=listbox] {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        word-spacing: 4rem;
      }
    }

    &__item {
      &--choice {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.75rem 0.5rem !important;
        text-align: center;
        border-width: 0 1px 1px 0;
        border-style: solid;
        border-color: var(--swiper-studio--color-white-a10);
        font-size: 12px;

        &:nth-child(3n) {
          border-right-width: 0;
        }

        &:nth-last-child(-n+3) {
          border-bottom-width: 0;
        }
      }
    }
  }
}
